*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.maincontainer{
    background-color: navy;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}